* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    color: aliceblue;
}

body {
    background: rgb(30, 30, 30);
    overflow: hidden;
    overflow-y: scroll;
}